<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('headcss', {}); %>
    <title>食肉狼博客详情</title>
    <style>
        .icon-lang{
            font-size: 100px;
            color: white;
        }
        .title-word{
            font-size: 20px;
            color: white;
        }
    </style>
</head>
<body class="layui-bg-black">
    <div class="layui-container">
        <span class="iconfont icon-lang"></span>
        <span class="title-word">Carnivorous Wolf</span>
        详情
    </div>
</body>
</html>