<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('headcss', {}); %>
    <title>食肉狼首页</title>
    <style>
      table tr{
        height: 50px;
      }
    </style>
</head>

<body class="layui-bg-black">
  <div class="layui-container">
    <%- include('logo', {}); %>
    <!-- 导航 -->
    <%- include('nav', {}); %>
    <!-- 导航 end-->
    <!-- 内容列表 -->
    <div class="layui-col-xs12">
      <table class="layui-table" lay-skin="line">
        <colgroup>
          <col width="150">
          <col width="200">
          <col width="650">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>昵称</th>
            <th>发布时间</th>
            <th>签名</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>
                <a href="/blokInfo">贤心</a>
              </td>
              <td>
                <a href="/blokInfo">2016-11-29</a>
              </td>
              <td>
                <a href="/blokInfo">人生就像是一场修行</a>
              </td>
            <td>
              <a href="#">
                <i class="layui-icon layui-icon-edit"></i> 
                修改
              </a>
              <a href="#">
                <i class="layui-icon layui-icon-delete"></i> 
                删除
              </a>
            </td>
          </tr>

          <tr>
            <td>许闲心</td>
            <td>2016-11-28</td>
            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
            <td>
              <a href="#">
                <i class="layui-icon layui-icon-edit"></i> 
                修改
              </a>
              <a href="#">
                <i class="layui-icon layui-icon-delete"></i> 
                删除
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 内容列表 end -->
    <div class="layui-col-xs6">
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon layui-icon-left"></i>
      </button>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">1</i>
      </button>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">2</i>
      </button>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">3</i>
      </button>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">4</i>
      </button>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon layui-icon-right"></i>
      </button>
    </div>
  </div>
</body>

</html>