<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('headcss', {}); %>
    <title>食肉狼创作中心</title>
    <style>
        .icon-lang{
            font-size: 100px;
            color: white;
        }
        .title-word{
            font-size: 20px;
            color: white;
        }
    </style>
</head>
<body class="layui-bg-black">
    <div class="layui-container">
        <span class="iconfont icon-lang"></span>
        <span class="title-word">Carnivorous Wolf</span>
        <!-- 导航 -->
        <ul class="layui-nav">
          <li class="layui-nav-item"><a href="/">首页</a></li>
          <li class="layui-nav-item layui-this"><a href="/write">创作中心</a></li>
          <li class="layui-nav-item"><a href="">论坛</a></li>
          <li class="layui-nav-item"><a href="">问答</a></li>
          <li class="layui-nav-item"><a href="">直播</a></li>
          <li class="layui-nav-item"><a href="">电子书</a></li>
          <li class="layui-nav-item">
            <div class="layui-input-block">
              <input type="text" name="title" required placeholder="请输入搜索关键字" class="layui-input">
            </div>
          </li>
          <li class="layui-nav-item">
            <a href="">
              <i class="layui-icon layui-icon-search" style="font-size: 40px; color: rgba(198, 250, 8, 0.966);line-height: 80px;"></i>
            </a>
          </li>
          <li class="layui-nav-item"><a href="/login">个人中心</a></li>
          <li class="layui-nav-item"><a href="">收藏</a></li>
          <li class="layui-nav-item"><a href="">消息</a></li>
        </ul>
        <!-- 导航 end-->
    </div>
</body>
</html>