<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('headcss', {}); %>
        <title>食肉狼创作中心</title>
        <style>
            .title {
                width: 950px;
            }

            .date{
                margin-top: 30px;
            }

            .txtarea {
                margin-top: 30px;
            }

            .layui-textarea {
                overflow: scroll;
            }
            .img{
                margin: 120px 0 0 50px;
            }
        </style>
</head>

<body class="layui-bg-black">
    <div class="layui-container">
        <%- include('logo', {}); %>
            <!-- 导航 -->
            <%- include('nav', {userName}); %>
                <!-- 导航 end-->
                <!-- 创作中心内容 -->
                <form action="/article/add" method="POST">
                    <div class="layui-row">
                        <div class="layui-col-md11">
                            <input type="text" name="title" placeholder="请输入标题" class="layui-input title">
                        </div>
                        <div class="layui-col-md1">
                            <input type="submit" value="确认并提交文章" class="layui-btn">
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md2">
                            <input type="date" name="date" class="layui-input date">
                        </div>
                    </div>
                    <!-- 文本框 -->
                    <div class="layui-row txtarea">
                        <div class="layui-col-md10">
                            <textarea name="content" class="layui-textarea" cols="130" rows="15" placeholder="请输入内容"></textarea>
                        </div>
                        <div class="layui-col-md2">
                            <input type="file" name="img" class="img">
                        </div>
                    </div>
                </form>
                <!-- 文本框 end-->
                <!-- 创作中心内容 end -->
    </div>
</body>

</html>